<h1>
  Edit show #<%= @show.id %>
</h1>

<hr>

<form action="/update_show/<%= @show.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @show.name %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @show.title %>">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <%= cl_image_tag(@show.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update show
  </button>
</form>

<hr>

<a href="/shows">
  Go back
</a>
