<!-- Validation failure messages -->
<% if @like.errors.any? %>
  <% @like.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit like #<%= @like.id %>
</h1>

<hr>

<!-- Form like start -->
<form action="/update_like/<%= @like.id %>" method="post">
<!-- Form like end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @like.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <!-- Input for movie_id start -->
    <input type="text" id="movie_id" name="movie_id" class="form-control" value="<%= @like.movie_id %>">
    <!-- Input for movie_id end -->
  </div>
  <!-- Label and input for movie_id end -->

  <!-- Label and input for show_id start -->
  <div class="form-group">
    <label for="show_id">
      Show
    </label>

    <!-- Input for show_id start -->
    <input type="text" id="show_id" name="show_id" class="form-control" value="<%= @like.show_id %>">
    <!-- Input for show_id end -->
  </div>
  <!-- Label and input for show_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
